<!-- my-health-metrics-form.handlebars -->

<form action="/submit-health-metrics" method="POST">
    <!-- Health metrics input fields -->
    <input type="number" name="calories" placeholder="Calories Consumed"><br><br>
    <input type="number" name="water" placeholder="Water Consumption"><br><br>
    <input type="number" name="sleep" placeholder="Sleep Duration" required><br><br>
    <!-- Other input fields -->

    <button type="submit">Submit</button>
</form>
