<!DOCTYPE html>
<html>
<head>
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="../../styles/main.css">
</head>
<body>
    <!-- Navbar -->
    <nav>
        <div class="logo">
        <img src="../../images/log.png" alt="Logo">
    </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/my-health-metrics-form">Track Health Metrics</a></li>
            <li><a href="/my-health-metrics">View Health Metrics</a></li>
            <li><a href="/feedback">Give Feedback</a></li>
            <li><a href="/all-feedback">View Feedback</a></li>
            <li><a href="/login">Sign In</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/logout">Sign Out</a></li>
        </ul>
    </nav>

    <!-- Main Content -->
    <div class="container">
        {{{body}}}
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Health Tracker</p>
    </footer>
</body>
</html>
